In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
df = pd.read_csv(r"C:\Users\basde\Downloads\les24_bestanden\BostonHousing.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
X = df.loc[:, ['rm', 'lstat', 'ptratio']].values
y = df.loc[:, 'medv'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=1) # 0.25 x 0.8 = 0.2
# Make a linear regression instance
reg = LinearRegression(fit_intercept=True)
# Train the model on the training set.
reg.fit(X_train, y_train)
# Test the model on the testing set and evaluate the performance
score = reg.score(X_train, y_train)
print(score)
# Test the model on the testing set and evaluate the performance
score = reg.score(X_val, y_val)
print(score)
# Test the model on the testing set and evaluate the performance
score = reg.score(X_test, y_test)
print(score)

0.6487406582128847
0.7647430447137742
0.7384529427845021

In [5]:
# 10-fold cross-validation with all three features

from sklearn.model_selection import cross_val_score
# instantiate model
lm = LinearRegression()
# store scores in scores object
# we can't use accuracy as our evaluation metric since that's only relevant for classification problems
# RMSE is not directly available so we will use MSE
scores = cross_val_score(lm, X, y, cv=10, scoring='neg_mean_squared_error')
print(scores)

[  -8.23806894   -9.5453911   -11.16464292  -43.30968796  -27.88254143
  -25.69747403  -15.07866399 -140.66449819  -40.14144168   -9.88008843]

In [7]:
import numpy as np
# fix the sign of MSE scores
mse_scores = -scores
print(mse_scores)
# convert from MSE to RMSE
rmse_scores = np.sqrt(mse_scores)
print(rmse_scores)
# calculate the average RMSE
print(rmse_scores.mean())

[  8.23806894   9.5453911   11.16464292  43.30968796  27.88254143
  25.69747403  15.07866399 140.66449819  40.14144168   9.88008843]
[ 2.87020364  3.08956164  3.34135346  6.58100965  5.28039217  5.0692676
  3.88312554 11.8602065   6.3357274   3.14326079]
5.145410838518297