In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
pd.options.mode.copy_on_write = True
from sklearn.preprocessing import LabelEncoder
# Set visualization style
sns.set_theme(style="whitegrid")

In [2]:
train = pd.read_csv(r"C:\Users\basde\OneDrive\Documenten\GitHub\Titanic\train.csv")
test = pd.read_csv(r"C:\Users\basde\OneDrive\Documenten\GitHub\Titanic\test.csv")

In [3]:
df = train.copy()

In [ ]:
df

In [4]:
test['Cabin'].value_counts()

Cabin
B57 B59 B63 B66    3
B45                2
C89                2
C55 C57            2
A34                2
                  ..
E52                1
D30                1
E31                1
C62 C64            1
C105               1
Name: count, Length: 76, dtype: int64

In [5]:
df.drop(['PassengerId','Survived'], axis=1, inplace=True)
test.drop('PassengerId', axis=1, inplace=True)

In [6]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
category_order = ['male','female']
ordinal_encoder = OrdinalEncoder(categories=[category_order])
df['Sex'] = ordinal_encoder.fit_transform(df[['Sex']])

In [8]:
category_order = ['male','female']
ordinal_encoder = OrdinalEncoder(categories=[category_order])
test['Sex'] = ordinal_encoder.fit_transform(test[['Sex']])

In [9]:
import re
# 1. Clean the Name column by removing text in parentheses and quotes
df['Name'] = df['Name'].apply(lambda x: re.sub(r'\([^)]*\)', '', x).strip())
df['Name'] = df['Name'].str.replace(r'"[^"]*"', '', regex=True)

# 2. Split Name into LastName and the rest
df['LastName'] = df['Name'].str.split(',').str.get(0).str.strip()
name_part = df['Name'].str.split(',').str.get(1).str.strip()

# 3. Extract the Title from the remaining part of the name
df['Titel'] = name_part.str.split('.').str.get(0).str.strip()

# 4. Standardize the common titles
title_mapping = {
    'Mlle': 'Miss',
    'Ms': 'Miss',
    'Mme': 'Mrs'
}
df['Titel'] = df['Titel'].replace(title_mapping)

# 5. Define a list of common titles
common_titles = ['Mr', 'Miss', 'Mrs', 'Master']

# 6. Categorize any title not in the common_titles list as 'Rare'
df['Titel'] = df['Titel'].apply(lambda x: x if x in common_titles else 'Rare')

df.drop(['Name', 'LastName'], axis=1, inplace=True)
df['Titel'] = df['Titel'].apply(lambda x: x if x in common_titles else 'Rare')

In [10]:
le = LabelEncoder()
df['Titel'] = le.fit_transform(df['Titel'].astype(str))

In [11]:
import re
# 1. Clean the Name column by removing text in parentheses and quotes
test['Name'] = test['Name'].apply(lambda x: re.sub(r'\([^)]*\)', '', x).strip())
test['Name'] = test['Name'].str.replace(r'"[^"]*"', '', regex=True)

# 2. Split Name into LastName and the rest
test['LastName'] = test['Name'].str.split(',').str.get(0).str.strip()
name_part = test['Name'].str.split(',').str.get(1).str.strip()

# 3. Extract the Title from the remaining part of the name
test['Titel'] = name_part.str.split('.').str.get(0).str.strip()

# 4. Standardize the common titles
title_mapping = {
    'Mlle': 'Miss',
    'Ms': 'Miss',
    'Mme': 'Mrs'
}
test['Titel'] = test['Titel'].replace(title_mapping)

# 5. Define a list of common titles
common_titles = ['Mr', 'Miss', 'Mrs', 'Master']

# 6. Categorize any title not in the common_titles list as 'Rare'
test['Titel'] = test['Titel'].apply(lambda x: x if x in common_titles else 'Rare')

test.drop(['Name', 'LastName'], axis=1, inplace=True)
test['Titel'] = test['Titel'].apply(lambda x: x if x in common_titles else 'Rare')

In [12]:

test['Titel'] = le.fit_transform(test['Titel'].astype(str))

In [13]:
df.dtypes

Pclass        int64
Sex         float64
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
Titel         int32
dtype: object

In [14]:
df['Embarked'] = df['Embarked'].fillna('missing')
test['Embarked'] = test['Embarked'].fillna('missing')

In [15]:
df['Cabin'] = df['Cabin'].astype(str).str[0]
test['Cabin'] = test['Cabin'].astype(str).str[0]

In [16]:
df['Cabin'] = le.fit_transform(df['Cabin'].astype(str))

test['Cabin'] = le.transform(test['Cabin'].astype(str))

In [17]:
df['Cabin']

0      8
1      2
2      8
3      2
4      8
      ..
886    8
887    1
888    8
889    2
890    8
Name: Cabin, Length: 891, dtype: int32

In [18]:
test['Cabin']

0      8
1      8
2      8
3      8
4      8
      ..
413    8
414    2
415    8
416    8
417    8
Name: Cabin, Length: 418, dtype: int32

In [19]:
df['Embarked'] = le.fit_transform(df['Embarked'].astype(str))



test['Embarked'] = le.transform(test['Embarked'].astype(str))

In [20]:
df['Cabin'].value_counts()

Cabin
8    687
2     59
1     47
3     33
4     32
0     15
5     13
6      4
7      1
Name: count, dtype: int64

In [21]:
df1 = df.drop('Ticket', axis=1)
test1 = test.drop('Ticket', axis=1)

In [22]:
df['Ticket'].info()
test['Ticket'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Ticket
Non-Null Count  Dtype
--------------  -----
891 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB
<class 'pandas.core.series.Series'>
RangeIndex: 418 entries, 0 to 417
Series name: Ticket
Non-Null Count  Dtype
--------------  -----
418 non-null    object
dtypes: object(1)
memory usage: 3.4+ KB

In [23]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer = IterativeImputer(min_value=1, random_state=0)
df_imputed_array = imputer.fit_transform(df1)
df1 = pd.DataFrame(df_imputed_array, columns=df1.columns)
df1['Ticket'] = df['Ticket']
df = df1
test_imputed_array = imputer.transform(test1)
test1 = pd.DataFrame(test_imputed_array, columns=test1.columns)
test1['Ticket'] = test['Ticket']
test = test1

In [24]:
df

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Titel,Ticket
0,3.0,0.0,22.000000,1.0,0.0,7.2500,8.0,2.0,2.0,A/5 21171
1,1.0,1.0,38.000000,1.0,0.0,71.2833,2.0,0.0,3.0,PC 17599
2,3.0,1.0,26.000000,0.0,0.0,7.9250,8.0,2.0,1.0,STON/O2. 3101282
3,1.0,1.0,35.000000,1.0,0.0,53.1000,2.0,2.0,3.0,113803
4,3.0,0.0,35.000000,0.0,0.0,8.0500,8.0,2.0,2.0,373450
...,...,...,...,...,...,...,...,...,...,...
886,2.0,0.0,27.000000,0.0,0.0,13.0000,8.0,2.0,4.0,211536
887,1.0,1.0,19.000000,0.0,0.0,30.0000,1.0,2.0,1.0,112053
888,3.0,1.0,15.155803,1.0,2.0,23.4500,8.0,2.0,1.0,W./C. 6607
889,1.0,0.0,26.000000,0.0,0.0,30.0000,2.0,0.0,2.0,111369
890,3.0,0.0,32.000000,0.0,0.0,7.7500,8.0,1.0,2.0,370376

In [25]:
test

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Titel,Ticket
0,3.0,0.0,34.500000,0.0,0.0,7.8292,8.0,1.0,2.0,330911
1,3.0,1.0,47.000000,1.0,0.0,7.0000,8.0,2.0,3.0,363272
2,2.0,0.0,62.000000,0.0,0.0,9.6875,8.0,1.0,2.0,240276
3,3.0,0.0,27.000000,0.0,0.0,8.6625,8.0,2.0,2.0,315154
4,3.0,1.0,22.000000,1.0,1.0,12.2875,8.0,2.0,3.0,3101298
...,...,...,...,...,...,...,...,...,...,...
413,3.0,0.0,29.359807,0.0,0.0,8.0500,8.0,2.0,2.0,A.5. 3236
414,1.0,1.0,39.000000,0.0,0.0,108.9000,2.0,0.0,4.0,PC 17758
415,3.0,0.0,38.500000,0.0,0.0,7.2500,8.0,2.0,2.0,SOTON/O.Q. 3101262
416,3.0,0.0,29.359807,0.0,0.0,8.0500,8.0,2.0,2.0,359309
417,3.0,0.0,9.979908,1.0,1.0,22.3583,8.0,0.0,0.0,2668

In [26]:

print(f"\nNumber of unique values: {df['Ticket'].nunique()}")

Number of unique values: 681

In [27]:
X = df['Ticket']
y = train['Survived']
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import category_encoders as ce

In [1]:
n_components_to_test = [8, 16, 32, 64, 128, 256]

print("ðŸš€ Starting Cross-Validation for Hashing Encoder...\n")

for n_components in n_components_to_test:
    print(f"--- Testing with {n_components} Columns ---")

    # Define the Hashing Encoder with the current number of components
    # handle_unknown is set to 'return_nan' and then imputed to avoid errors if a fold is missing a category
    encoder = ce.HashingEncoder(n_components=n_components)

    # Define the classifier
    classifier = RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1)

    # Create the full pipeline
    pipeline = Pipeline(steps=[
        ('encoder', encoder),
        ('classifier', classifier)
    ])

    # Perform 5-fold cross-validation
    # We ask it to return the training scores as well
    cv_scores = cross_validate(
        pipeline,
        X,
        y,
        cv=5,  # 5 folds
        scoring='accuracy',
        return_train_score=True,
        n_jobs=-1 # Use all available CPU cores
    )

    # --- 3. Print the Results for the Current Number of Columns ---
    print(f"Average Training Score: {np.mean(cv_scores['train_score']):.4f}")
    print(f"Validation Score per Fold: {[f'{score:.4f}' for score in cv_scores['test_score']]}")
    print(f"Average Validation Score: {np.mean(cv_scores['test_score']):.4f} (+/- {np.std(cv_scores['test_score']):.4f})")
    print("-" * 40 + "\n")

ðŸš€ Starting Cross-Validation for Hashing Encoder...

--- Testing with 8 Columns ---

NameError: name 'ce' is not defined

In [32]:
df['Fare'] = np.log1p(df['Fare'])
test['Fare'] = np.log1p(test['Fare'])

In [33]:
X_full = df
X_baseline = df.drop(['Ticket'], axis=1)

In [34]:
X_baseline.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked',
       'Titel'],
      dtype='object')

In [35]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [36]:
classifier = RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1)


# --- 3. Run CV on the BASELINE Model (Numerical Features Only) ---
# No special encoding needed for the baseline model
pipeline_baseline = Pipeline(steps=[('classifier', classifier)])

cv_scores_baseline = cross_validate(
    pipeline_baseline,
    X_baseline,
    y,
    cv=5,
    scoring='accuracy'
)
baseline_score = np.mean(cv_scores_baseline['test_score'])
print(f"ðŸ“Š Baseline CV Score (Numerical Features ONLY): {baseline_score:.4f}")


# --- 4. Run CV on the FULL Model (Categorical + Numerical) ---
# We need a ColumnTransformer to apply hashing ONLY to the categorical column
categorical_cols = ['Ticket']
numerical_cols = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Cabin', 'Embarked', 'Titel']

preprocessor = ColumnTransformer(
    transformers=[
        # Use 32 components as determined before
        ('cat_hasher', ce.HashingEncoder(n_components=16), categorical_cols),
        # 'passthrough' means the numerical columns won't be changed
        ('num_pass', 'passthrough', numerical_cols)
    ],
    remainder='drop' # Drop any other columns not specified
)

pipeline_full = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', classifier)
])

cv_scores_full = cross_validate(
    pipeline_full,
    X_full,
    y,
    cv=10,
    scoring='accuracy'
)
full_model_score = np.mean(cv_scores_full['test_score'])
print(f"ðŸš€ Full Model CV Score (Categorical + Numerical): {full_model_score:.4f}")
print("-" * 50)


# --- 5. Conclusion ---
performance_lift = full_model_score - baseline_score
print(f"âœ… Performance lift from adding the categorical feature: {performance_lift:+.4f}")

if performance_lift > 0.01:
    print("\nConclusion: The effect is still significant! The categorical feature adds unique predictive value.")
elif performance_lift > 0:
    print("\nConclusion: The feature adds a small amount of value, but the other features are more dominant.")
else:
    print("\nConclusion: The feature does not add predictive value when other features are present.")

ðŸ“Š Baseline CV Score (Numerical Features ONLY): 0.8081
ðŸš€ Full Model CV Score (Categorical + Numerical): 0.8294
--------------------------------------------------
âœ… Performance lift from adding the categorical feature: +0.0213

Conclusion: The effect is still significant! The categorical feature adds unique predictive value.

In [37]:
hasher = ce.HashingEncoder(n_components=16)
hashed_column_df = hasher.fit_transform(test[['Ticket']])
test = pd.concat([test.drop(columns=['Ticket']), hashed_column_df], axis=1)

In [38]:
hashed_column_df = hasher.fit_transform(df[['Ticket']])
df = pd.concat([df.drop(columns=['Ticket']), hashed_column_df], axis=1)

In [39]:
df.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked',
       'Titel', 'col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6',
       'col_7', 'col_8', 'col_9', 'col_10', 'col_11', 'col_12', 'col_13',
       'col_14', 'col_15'],
      dtype='object')

In [41]:
test.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked',
       'Titel', 'col_0', 'col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6',
       'col_7', 'col_8', 'col_9', 'col_10', 'col_11', 'col_12', 'col_13',
       'col_14', 'col_15'],
      dtype='object')

In [104]:
X = df
y= train['Survived']

In [43]:
df

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Titel,col_0,...,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15
0,3.0,0.0,22.000000,1.0,0.0,2.110213,8.0,2.0,2.0,0,...,0,0,0,0,1,0,0,0,0,0
1,1.0,1.0,38.000000,1.0,0.0,4.280593,2.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,0,1
2,3.0,1.0,26.000000,0.0,0.0,2.188856,8.0,2.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,1.0,35.000000,1.0,0.0,3.990834,2.0,2.0,3.0,0,...,0,1,0,0,0,0,0,0,0,0
4,3.0,0.0,35.000000,0.0,0.0,2.202765,8.0,2.0,2.0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2.0,0.0,27.000000,0.0,0.0,2.639057,8.0,2.0,4.0,0,...,0,0,0,0,0,0,0,0,1,0
887,1.0,1.0,19.000000,0.0,0.0,3.433987,1.0,2.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
888,3.0,1.0,15.155803,1.0,2.0,3.196630,8.0,2.0,1.0,0,...,0,0,0,1,0,0,0,0,0,0
889,1.0,0.0,26.000000,0.0,0.0,3.433987,2.0,0.0,2.0,0,...,0,0,0,0,0,0,1,0,0,0
890,3.0,0.0,32.000000,0.0,0.0,2.169054,8.0,1.0,2.0,0,...,0,0,0,0,1,0,0,0,0,0

In [44]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from catboost import CatBoostClassifier
# Ensemble and Boosting models
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
import xgboost as xgb
import lightgbm as lgb
import catboost as cb
from sklearn.model_selection import cross_validate
# --- Model Evaluation Tools ---
from sklearn.model_selection import cross_val_score, StratifiedKFold, GridSearchCV

In [45]:
models = {
    "Logistic Regression": LogisticRegression(solver='liblinear'),
    "Ridge Classifier": RidgeClassifier(),
    "Gaussian Naive Bayes": GaussianNB(),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    "SVC": SVC(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "AdaBoost": AdaBoostClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "XGBoost": xgb.XGBClassifier(eval_metric='logloss'),
    "CatBoost": cb.CatBoostClassifier(verbose=0),
    "MLP Classifier": MLPClassifier(max_iter=500, random_state=42)
}

In [113]:
results = []
names = []

print("Evaluating models...")
for name, model in models.items():
    # 1. Define the cross-validation strategy
    cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

    # 2. Perform cross-validation using cross_validate
    # Set return_train_score=True to get training scores
    cv_results = cross_validate(model, X, y, cv=cv, scoring='accuracy', return_train_score=True)

    # 3. Store the results (now a dictionary)
    results.append(cv_results)
    names.append(name)

    # 4. Calculate and print the mean and std dev for both train and CV scores
    train_score_mean = cv_results['train_score'].mean()
    train_score_std = cv_results['train_score'].std()
    cv_score_mean = cv_results['test_score'].mean()
    cv_score_std = cv_results['test_score'].std()

    print(f"{name}:")
    print(f"  Training Accuracy: {train_score_mean:.4f} (+/- {train_score_std:.4f})")
    print(f"  CV Accuracy: {cv_score_mean:.4f} (+/- {cv_score_std:.4f})")
    print("-" * 30)

Evaluating models...
Logistic Regression:
  Training Accuracy: 0.8092 (+/- 0.0053)
  CV Accuracy: 0.8024 (+/- 0.0350)
------------------------------
Ridge Classifier:
  Training Accuracy: 0.8065 (+/- 0.0056)
  CV Accuracy: 0.8058 (+/- 0.0364)
------------------------------
Gaussian Naive Bayes:
  Training Accuracy: 0.7618 (+/- 0.0071)
  CV Accuracy: 0.7475 (+/- 0.0279)
------------------------------
K-Nearest Neighbors:
  Training Accuracy: 0.8375 (+/- 0.0070)
  CV Accuracy: 0.7631 (+/- 0.0409)
------------------------------
SVC:
  Training Accuracy: 0.7248 (+/- 0.0061)
  CV Accuracy: 0.7149 (+/- 0.0461)
------------------------------
Decision Tree:
  Training Accuracy: 0.9949 (+/- 0.0007)
  CV Accuracy: 0.7710 (+/- 0.0359)
------------------------------
Random Forest:
  Training Accuracy: 0.9948 (+/- 0.0005)
  CV Accuracy: 0.8271 (+/- 0.0305)
------------------------------
AdaBoost:
  Training Accuracy: 0.8313 (+/- 0.0038)
  CV Accuracy: 0.8237 (+/- 0.0316)
------------------------------
Gradient Boosting:
  Training Accuracy: 0.9162 (+/- 0.0064)
  CV Accuracy: 0.8259 (+/- 0.0389)
------------------------------
XGBoost:
  Training Accuracy: 0.9877 (+/- 0.0021)
  CV Accuracy: 0.8148 (+/- 0.0235)
------------------------------
CatBoost:
  Training Accuracy: 0.9312 (+/- 0.0044)
  CV Accuracy: 0.8350 (+/- 0.0249)
------------------------------
MLP Classifier:
  Training Accuracy: 0.8247 (+/- 0.0140)
  CV Accuracy: 0.8058 (+/- 0.0270)
------------------------------

In [ ]:
# # --- Present Results in a DataFrame ---
# # Create a DataFrame to hold the results for easy comparison
# results_df = pd.DataFrame({
#     'Model': names,
#     'Mean Accuracy': [res.mean() for res in results],
#     'Std Dev': [res.std() for res in results]
# })

# # Sort the models by mean accuracy in descending order
# sorted_results_df = results_df.sort_values(by='Mean Accuracy', ascending=False).reset_index(drop=True)

# print("\n--- Model Performance Comparison ---")
# print(sorted_results_df)

In [47]:
cv_strategy = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

In [ ]:
print("\nðŸš€ Starting CatBoost Hyperparameter Tuning...")

# --- 1. Define the model ---
# Pass `silent=True` to let GridSearchCV control the verbosity
cat = CatBoostClassifier(random_state=42, silent=True)

# --- 2. Define a comprehensive hyperparameter grid ---
# WARNING: Also a large grid, will be computationally expensive!
cat_param_grid = {
    'iterations': [200, 500],
    'learning_rate': [0.01, 0.05],
    'depth': [4, 5, 6],
    'l2_leaf_reg': [3, 5, 7],
    'subsample': [0.7, 0.8],
    'rsm': [0.7, 0.8] 
}     


# --- 3. Set up GridSearchCV ---
cat_grid_search = GridSearchCV(
    estimator=cat,
    param_grid=cat_param_grid,
    cv=cv_strategy,
    scoring='accuracy',
    n_jobs=-1,
    verbose=3,
    return_train_score=True
)

# --- 4. Run the search ---
cat_grid_search.fit(X, y)

# --- 5. Display the results ---
print("\nâœ… CatBoost Tuning Complete!")
print(f"Best CatBoost Parameters: {cat_grid_search.best_params_}")
print(f"Best CatBoost CV Score: {cat_grid_search.best_score_:.4f}")

# Convert results to a DataFrame
cat_results_df = pd.DataFrame(cat_grid_search.cv_results_)

# Columns to display
display_cols_cat = [
    'param_iterations', 'param_depth', 'param_learning_rate',
    'mean_train_score', 'std_train_score',
    'mean_test_score', 'std_test_score',
    'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score'
]

# Sort by the best CV score and show the top 5 combinations
print("\nTop 5 CatBoost Hyperparameter Combinations:")
display(cat_results_df.sort_values(by='rank_test_score').head(5)[display_cols_cat])

In [ ]:
print("ðŸš€ Starting XGBoost Hyperparameter Tuning...")

# --- 1. Define the model ---
xgb = XGBClassifier(objective='binary:logistic', eval_metric='logloss', random_state=42)

# --- 2. Define a comprehensive hyperparameter grid ---
# WARNING: This is a large grid and will be computationally expensive!
xgb_param_grid = {
    'n_estimators': [200, 400],
    'learning_rate': [0.01, 0.05],
    'max_depth': [3, 4, 5],
    'subsample': [0.7, 0.8],
    'colsample_bytree': [0.7, 0.8],
    'gamma': [0.1, 0.5, 1],
    'reg_alpha': [0, 0.1],
    'reg_lambda': [1, 1.5]
}      # L1 regularization



# --- 3. Set up GridSearchCV ---
# We set `return_train_score=True` to get the training scores
# `verbose=3` gives detailed output during the search
xgb_grid_search = GridSearchCV(
    estimator=xgb,
    param_grid=xgb_param_grid,
    cv=cv_strategy,
    scoring='accuracy',
    n_jobs=-1,  # Use all available CPU cores
    verbose=3,
    return_train_score=True
)

# --- 4. Run the search ---
xgb_grid_search.fit(X, y)

# --- 5. Display the results ---
print("\nâœ… XGBoost Tuning Complete!")
print(f"Best XGBoost Parameters: {xgb_grid_search.best_params_}")
print(f"Best XGBoost CV Score: {xgb_grid_search.best_score_:.4f}")

# Convert results to a DataFrame for detailed analysis
xgb_results_df = pd.DataFrame(xgb_grid_search.cv_results_)

# Columns to display for a clear overview
# This includes mean scores and scores for each individual fold
display_cols = [
    'param_n_estimators', 'param_max_depth', 'param_learning_rate',
    'mean_train_score', 'std_train_score',
    'mean_test_score', 'std_test_score',
    'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score'
]

# Sort by the best CV score and show the top 5 combinations
print("\nTop 5 XGBoost Hyperparameter Combinations:")
display(xgb_results_df.sort_values(by='rank_test_score').head(5)[display_cols])

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
import pandas as pd

# This code assumes X, y, and cv_strategy are already defined from the previous examples.

print("ðŸš€ Starting Gradient Boosting Hyperparameter Tuning...")

# --- 1. Define the model ---
gb = GradientBoostingClassifier(random_state=42)

# --- 2. Define a comprehensive hyperparameter grid ---
# WARNING: This is a large grid and will be computationally expensive!
gb_param_grid = {
    'n_estimators': [200, 400],
    'learning_rate': [0.01, 0.05],
    'max_depth': [3, 4, 5],
    'subsample': [0.7, 0.8],
    'max_features': ['sqrt', 0.7],
    'min_samples_leaf': [3, 5]         # Minimum number of samples required to be at a leaf node
}

# --- 3. Set up GridSearchCV ---
gb_grid_search = GridSearchCV(
    estimator=gb,
    param_grid=gb_param_grid,
    cv=cv_strategy,
    scoring='accuracy',
    n_jobs=-1,  # Use all available CPU cores
    verbose=3,
    return_train_score=True
)

# --- 4. Run the search ---
gb_grid_search.fit(X, y)

# --- 5. Display the results ---
print("\nâœ… Gradient Boosting Tuning Complete!")
print(f"Best Gradient Boosting Parameters: {gb_grid_search.best_params_}")
print(f"Best Gradient Boosting CV Score: {gb_grid_search.best_score_:.4f}")

# Convert results to a DataFrame for detailed analysis
gb_results_df = pd.DataFrame(gb_grid_search.cv_results_)

# Columns to display for a clear overview
display_cols_gb = [
    'param_n_estimators', 'param_max_depth', 'param_learning_rate', 'param_subsample',
    'mean_train_score',
    'mean_test_score',
    'split0_test_score', 'split1_test_score', 'split2_test_score', 'split3_test_score', 'split4_test_score'
]

# Sort by the best CV score and show the top 5 combinations
print("\nTop 5 Gradient Boosting Hyperparameter Combinations:")
display(gb_results_df.sort_values(by='rank_test_score').head(5)[display_cols_gb])

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
import pandas as pd

# This code assumes X, y, and cv_strategy are already defined from the previous examples.

print("ðŸš€ Starting AdaBoost Hyperparameter Tuning...")

# --- 1. Define the model ---
# We use a DecisionTreeClassifier as the base estimator to tune its depth.
ada = AdaBoostClassifier(
    estimator=DecisionTreeClassifier(random_state=42),
    random_state=42
)

# --- 2. Define Hyperparameter Grids ---

# -- Grid 1: Focused Grid for General Tuning --
ada_param_grid_focused = {
    'n_estimators': [50, 100, 200, 300],
    'learning_rate': [0.05, 0.1, 0.5, 1.0],
    # Note the '__' syntax to access the base estimator's parameters
    'estimator__max_depth': [1, 2, 3]
}


# -- Grid 2: Grid to Specifically Combat Overfitting --
# This grid uses a lower learning rate and very simple base estimators.
ada_param_grid_overfit = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.05, 0.1, 0.05],
    'estimator__max_depth': [1, 2] # Stumps (depth=1) are best for low variance
}


# --- 3. Set up GridSearchCV ---
# We'll use the focused grid for this example. Change to `ada_param_grid_overfit` if needed.
ada_grid_search = GridSearchCV(
    estimator=ada,
    param_grid=ada_param_grid_focused,
    cv=cv_strategy,
    scoring='accuracy',
    n_jobs=-1,
    verbose=3,
    return_train_score=True
)

# --- 4. Run the search ---
ada_grid_search.fit(X, y)

# --- 5. Display the results ---
print("\nâœ… AdaBoost Tuning Complete!")
print(f"Best AdaBoost Parameters: {ada_grid_search.best_params_}")
print(f"Best AdaBoost CV Score: {ada_grid_search.best_score_:.4f}")

# Convert results to a DataFrame for detailed analysis
ada_results_df = pd.DataFrame(ada_grid_search.cv_results_)

# Display top results
print("\nTop 5 AdaBoost Hyperparameter Combinations:")
display(ada_results_df.sort_values(by='rank_test_score').head(5))

In [ ]:
import pandas as pd

# --- 1. Assume your grid search objects are fitted ---
# For example: xgb_grid_search, cat_grid_search, ada_grid_search
# We'll use placeholder results for this demonstration.
# In your code, you would extract these from the actual grid search objects.

# Example placeholder objects (replace with your actual fitted grid searches)
# from sklearn.model_selection import GridSearchCV
# from sklearn.linear_model import LogisticRegression
# X, y = [[0,0],[1,1]], [0,1]
# xgb_grid_search = GridSearchCV(LogisticRegression(), {}, cv=2).fit(X,y)
# cat_grid_search = GridSearchCV(LogisticRegression(), {}, cv=2).fit(X,y)
# ada_grid_search = GridSearchCV(LogisticRegression(), {}, cv=2).fit(X,y)


# --- 2. Gather results from each model ---
all_model_results = []
grid_searches = {
    "XGBoost": xgb_grid_search,
    "CatBoost": cat_grid_search,
    "AdaBoost": ada_grid_search
    # Add other fitted grid search objects here
}

for name, gs in grid_searches.items():
    # Find the index of the best score
    best_index = gs.best_index_

    # Get the corresponding CV (test) and train scores
    cv_score = gs.cv_results_['mean_test_score'][best_index]
    train_score = gs.cv_results_['mean_train_score'][best_index]

    all_model_results.append({
        "Model": name,
        "CV Score": cv_score,
        "Train Score": train_score,
        "Best Params": gs.best_params_
    })

# --- 3. Create and process the DataFrame ---
results_df = pd.DataFrame(all_model_results)

# Calculate the overfitting gap and the new adjusted score
results_df["Overfitting"] = results_df["Train Score"] - results_df["CV Score"]
results_df["Adjusted Score"] = results_df["CV Score"] - results_df["Overfitting"]

# Sort the DataFrame by the new adjusted score
ranked_df = results_df.sort_values(by="Adjusted Score", ascending=False)


# --- 4. Display the final ranked list ---
print("ðŸ† Ranked Model Leaderboard ðŸ†")
display(ranked_df[['Model', 'Adjusted Score', 'CV Score', 'Overfitting', 'Train Score']])

In [88]:
if isinstance(X, pd.DataFrame):
    X = X.values
else:
    X = X

In [110]:
X

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Titel,col_0,...,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15
0,3.0,0.0,22.000000,1.0,0.0,2.110213,8.0,2.0,2.0,0,...,0,0,0,0,1,0,0,0,0,0
1,1.0,1.0,38.000000,1.0,0.0,4.280593,2.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,0,1
2,3.0,1.0,26.000000,0.0,0.0,2.188856,8.0,2.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,1.0,35.000000,1.0,0.0,3.990834,2.0,2.0,3.0,0,...,0,1,0,0,0,0,0,0,0,0
4,3.0,0.0,35.000000,0.0,0.0,2.202765,8.0,2.0,2.0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2.0,0.0,27.000000,0.0,0.0,2.639057,8.0,2.0,4.0,0,...,0,0,0,0,0,0,0,0,1,0
887,1.0,1.0,19.000000,0.0,0.0,3.433987,1.0,2.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
888,3.0,1.0,15.155803,1.0,2.0,3.196630,8.0,2.0,1.0,0,...,0,0,0,1,0,0,0,0,0,0
889,1.0,0.0,26.000000,0.0,0.0,3.433987,2.0,0.0,2.0,0,...,0,0,0,0,0,0,1,0,0,0
890,3.0,0.0,32.000000,0.0,0.0,2.169054,8.0,1.0,2.0,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
import pandas as pd

# --- 1. Set your penalty factor ---
# - Set to 1.0 for the original aggressive penalty.
# - Set to 0.5 to balance performance and overfitting (recommended start).
# - Set to 0.25 to lightly penalize overfitting.
overfitting_penalty = 0.5


# --- 2. Assume your grid search objects are fitted ---
# (Using the same setup as before)
all_model_results = []
grid_searches = {
    "XGBoost": xgb_grid_search,
    "CatBoost": cat_grid_search,
    "AdaBoost": ada_grid_search,
    "ADABoost2": grid_search
}

for name, gs in grid_searches.items():
    best_index = gs.best_index_
    cv_score = gs.cv_results_['mean_test_score'][best_index]
    train_score = gs.cv_results_['mean_train_score'][best_index]

    all_model_results.append({
        "Model": name,
        "CV Score": cv_score,
        "Train Score": train_score,
    })


# --- 3. Create and process the DataFrame with the new formula ---
results_df = pd.DataFrame(all_model_results)

results_df["Overfitting"] = results_df["Train Score"] - results_df["CV Score"]
results_df["Adjusted Score"] = results_df["CV Score"] - (overfitting_penalty * results_df["Overfitting"])

# Sort the DataFrame by the new adjusted score
ranked_df = results_df.sort_values(by="Adjusted Score", ascending=False)


# --- 4. Display the final ranked list ---
print(f"ðŸ† Ranked Model Leaderboard (Penalty Factor: {overfitting_penalty}) ðŸ†")
display(ranked_df[['Model', 'Adjusted Score', 'CV Score', 'Overfitting', 'Train Score']])

In [123]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV, StratifiedKFold, cross_validate
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification

# --- 1. Define the custom scoring logic in a function ---
# This part remains the same.
def adjusted_scorer_func(estimator, X, y):
    """
    A custom scorer that calculates CV score minus a penalty for overfitting.
    """
    overfitting_penalty = 0.2
    results = cross_validate(
        estimator, X, y,
        cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42),
        scoring='accuracy',
        return_train_score=True
    )
    cv_score = np.mean(results['test_score'])
    train_score = np.mean(results['train_score'])
    overfitting_gap = train_score - cv_score
    adjusted_score = cv_score - (overfitting_penalty * overfitting_gap)
    return adjusted_score




# Define the model and a parameter grid
ada = AdaBoostClassifier(estimator=DecisionTreeClassifier(random_state=42), random_state=42)
param_grid = {
    'n_estimators': [50, 100, 200], # Wider range around and above 50-100
    'learning_rate': [0.1, 0.5, 1], # Wider range, including lower values
    'estimator__max_depth': [1, 3]
}

# Set up GridSearchCV using the function directly in the 'scoring' parameter
grid_search = GridSearchCV(
    estimator=ada,
    param_grid=param_grid,
    scoring=adjusted_scorer_func, # <-- Pass the function directly
    cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42),
    n_jobs=-1,
    verbose=2
)

# Run the search
grid_search.fit(X, y)

# --- 3. Analyze the results ---
print("\nâœ… Tuning Complete!")
print(f"Best Parameters Found: {grid_search.best_params_}")
print(f"Best Adjusted Score: {grid_search.best_score_:.4f}")

Fitting 5 folds for each of 18 candidates, totalling 90 fits

âœ… Tuning Complete!
Best Parameters Found: {'estimator__max_depth': 1, 'learning_rate': 0.1, 'n_estimators': 50}
Best Adjusted Score: 0.7709

In [115]:
# After grid_search.fit(X, y)
best_ada_model = grid_search.best_estimator_

# Evaluate the best model with standard accuracy
results_best_model = cross_validate(
    best_ada_model, X, y,
    cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42),
    scoring='accuracy',
    return_train_score=True,
    n_jobs=-1
)

print("\nEvaluation of Best Model (from GridSearchCV with Adjusted Score):")
print(f"  Training Accuracy: {np.mean(results_best_model['train_score']):.4f} (+/- {np.std(results_best_model['train_score']):.4f})")
print(f"  CV Accuracy: {np.mean(results_best_model['test_score']):.4f} (+/- {np.std(results_best_model['test_score']):.4f})")
print(f"  Train-CV Gap: {np.mean(results_best_model['train_score']) - np.mean(results_best_model['test_score']):.4f}")

Evaluation of Best Model (from GridSearchCV with Adjusted Score):
  Training Accuracy: 0.7873 (+/- 0.0037)
  CV Accuracy: 0.7868 (+/- 0.0188)
  Train-CV Gap: 0.0006

In [120]:
best_parameters = grid_search.best_params_

# Get the best score achieved
best_score = grid_search.best_score_

# Get the best model itself, ready to be used
best_model = grid_search.best_estimator_


# --- Print the results ---
print(f"Best Parameters Found:\n{best_parameters}")
print(f"\nBest Adjusted Score: {best_score:.4f}")

Best Parameters Found:
{'estimator__max_depth': 1, 'learning_rate': 0.1, 'n_estimators': 50}

Best Adjusted Score: 0.7621

In [102]:
y

array([0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0])

In [94]:
X.shape

(1000, 25)

In [119]:
test

array([[ 3.        ,  0.        , 34.5       , ...,  0.        ,
         0.        ,  0.        ],
       [ 3.        ,  1.        , 47.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 2.        ,  0.        , 62.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 3.        ,  0.        , 38.5       , ...,  0.        ,
         0.        ,  0.        ],
       [ 3.        ,  0.        , 29.35980732, ...,  0.        ,
         0.        ,  0.        ],
       [ 3.        ,  0.        ,  9.97990846, ...,  0.        ,
         0.        ,  0.        ]])

In [121]:
predictions = best_model.predict(test)

C:\Users\basde\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(

In [126]:
X

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Titel,col_0,...,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15
0,3.0,0.0,22.000000,1.0,0.0,2.110213,8.0,2.0,2.0,0,...,0,0,0,0,1,0,0,0,0,0
1,1.0,1.0,38.000000,1.0,0.0,4.280593,2.0,0.0,3.0,0,...,0,0,0,0,0,0,0,0,0,1
2,3.0,1.0,26.000000,0.0,0.0,2.188856,8.0,2.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,1.0,35.000000,1.0,0.0,3.990834,2.0,2.0,3.0,0,...,0,1,0,0,0,0,0,0,0,0
4,3.0,0.0,35.000000,0.0,0.0,2.202765,8.0,2.0,2.0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2.0,0.0,27.000000,0.0,0.0,2.639057,8.0,2.0,4.0,0,...,0,0,0,0,0,0,0,0,1,0
887,1.0,1.0,19.000000,0.0,0.0,3.433987,1.0,2.0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
888,3.0,1.0,15.155803,1.0,2.0,3.196630,8.0,2.0,1.0,0,...,0,0,0,1,0,0,0,0,0,0
889,1.0,0.0,26.000000,0.0,0.0,3.433987,2.0,0.0,2.0,0,...,0,0,0,0,0,0,1,0,0,0
890,3.0,0.0,32.000000,0.0,0.0,2.169054,8.0,1.0,2.0,0,...,0,0,0,0,1,0,0,0,0,0

In [129]:
  from sklearn.model_selection import train_test_split
  from sklearn.metrics import classification_report, confusion_matrix

In [131]:
def adjusted_scorer_func(estimator, X, y):
    overfitting_penalty = 0.1
    results = cross_validate(
        estimator, X, y,
        cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42),
        scoring=['accuracy', 'f1', 'roc_auc', 'precision', 'recall'],
        return_train_score=True
    )
    cv_f1 = np.mean(results['test_f1'])
    train_f1 = np.mean(results['train_f1'])
    overfitting_gap = train_f1 - cv_f1
    adjusted_score = cv_f1 - (overfitting_penalty * overfitting_gap)
    return adjusted_score

# --- 2. Run GridSearchCV by passing the function directly ---
# Use the X_processed and y derived from your actual df
ada = AdaBoostClassifier(estimator=DecisionTreeClassifier(random_state=42), random_state=42)
param_grid = {
    'n_estimators': [50, 75, 100, 125, 150, 175, 200, 250, 300, 400], # Expanded range
    'learning_rate': [0.005, 0.01, 0.02, 0.05, 0.1, 0.15, 0.2, 0.3], # Expanded range
    'estimator__max_depth': [1, 2, 3, 4, 5, 6] 
}

print("Starting GridSearchCV...")
grid_search = GridSearchCV(
    estimator=ada,
    param_grid=param_grid,
    scoring=adjusted_scorer_func,
    cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42),
    n_jobs=-1,
    verbose=2
)

# Fit GridSearchCV with your REAL, PREPROCESSED DATA
grid_search.fit(X, y)

# --- 3. Analyze the results from GridSearchCV ---
print("\nâœ… Tuning Complete!")
print(f"Best Parameters Found: {grid_search.best_params_}")
print(f"Best Adjusted F1 Score (optimized by GridSearchCV): {grid_search.best_score_:.4f}")

best_model = grid_search.best_estimator_

# --- 4. Perform a final, detailed evaluation of the BEST MODEL ---
print("\n--- Detailed Evaluation of the Best Model ---")
metrics_to_evaluate = ['accuracy', 'f1', 'roc_auc', 'precision', 'recall']

final_cv_results = cross_validate(
    best_model, X, y, # Use X_processed and y from your actual data
    cv=StratifiedKFold(n_splits=10, shuffle=True, random_state=42),
    scoring=metrics_to_evaluate,
    return_train_score=True,
    n_jobs=-1
)

print("\nCross-Validation Results for Best Model:")
for metric in metrics_to_evaluate:
    test_scores = final_cv_results[f'test_{metric}']
    train_scores = final_cv_results[f'train_{metric}']
    print(f"  {metric.upper()}:")
    print(f"    Train: {np.mean(train_scores):.4f} (+/- {np.std(train_scores):.4f})")
    print(f"    Test:  {np.mean(test_scores):.4f} (+/- {np.std(test_scores):.4f})")
    print(f"    Overfitting Gap: {(np.mean(train_scores) - np.mean(test_scores)):.4f}")
    print("-" * 25)

# --- 5. Make predictions and print a Classification Report on a held-out test set ---
# Split your REAL, PREPROCESSED DATA for a final, unseen test
X_train_final, X_test_final, y_train_final, y_test_final = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

print("\n--- Predictions on a Held-Out Test Set (from best_model) ---")
test_preds = best_model.predict(X_test_final)

print(f"Unique predictions on test set: {np.unique(test_preds, return_counts=True)}")
print("\nClassification Report on Test Set:")
print(classification_report(y_test_final, test_preds))
print("\nConfusion Matrix on Test Set:")
print(confusion_matrix(y_test_final, test_preds))

Starting GridSearchCV...
Fitting 5 folds for each of 480 candidates, totalling 2400 fits

âœ… Tuning Complete!
Best Parameters Found: {'estimator__max_depth': 1, 'learning_rate': 0.005, 'n_estimators': 50}
Best Adjusted F1 Score (optimized by GridSearchCV): 0.7054

--- Detailed Evaluation of the Best Model ---

Cross-Validation Results for Best Model:
  ACCURACY:
    Train: 0.7868 (+/- 0.0034)
    Test:  0.7867 (+/- 0.0304)
    Overfitting Gap: 0.0001
-------------------------
  F1:
    Train: 0.7103 (+/- 0.0060)
    Test:  0.7075 (+/- 0.0545)
    Overfitting Gap: 0.0028
-------------------------
  ROC_AUC:
    Train: 0.7669 (+/- 0.0044)
    Test:  0.7667 (+/- 0.0396)
    Overfitting Gap: 0.0002
-------------------------
  PRECISION:
    Train: 0.7421 (+/- 0.0045)
    Test:  0.7433 (+/- 0.0406)
    Overfitting Gap: -0.0012
-------------------------
  RECALL:
    Train: 0.6813 (+/- 0.0098)
    Test:  0.6808 (+/- 0.0878)
    Overfitting Gap: 0.0004
-------------------------

--- Predictions on a Held-Out Test Set (from best_model) ---
Unique predictions on test set: (array([0, 1], dtype=int64), array([118,  61], dtype=int64))

Classification Report on Test Set:
              precision    recall  f1-score   support

           0       0.80      0.85      0.82       110
           1       0.74      0.65      0.69        69

    accuracy                           0.78       179
   macro avg       0.77      0.75      0.76       179
weighted avg       0.77      0.78      0.77       179


Confusion Matrix on Test Set:
[[94 16]
 [24 45]]